@model Prodest.EOuv.UI.Apresentacao.ManifestacaoViewModel
@{ ViewData["Title"] = "Dados da Manifestação"; }
<style>
    body {
        font-family: Arial;
        font-size: 11px;
    }

    table {
        width: 776px;
        vertical-align: top;
        border-spacing: 5px;
    }

    thead {
        margin-bottom: 10px;
    }

    tbody {
        margin-top: 20px;
    }

    td {
        border: 1px solid #ccc;
        padding: 8px 10px;
    }

        td.empty {
            border: 1px solid #fff;
        }

    th {
        text-align: left;
        border-spacing: 20px
    }

    tr.titulo-1 {
        font-size: 1.1rem;
        background-color: #ddd;
    }

        tr.titulo-1 th {
            padding: 5px;
            text-align: center;
        }

    tr.titulo-2 {
        font-size: 1.1rem;
        color: #fff;
        background-color: #2479a7;
    }

        tr.titulo-2 th {
            padding: 5px;
            text-align: center;
        }

    tr.titulo-3 {
        font-size: 1.1rem;
        color: #fff;
        background-color: #36556e;
    }

        tr.titulo-3 th {
            padding: 5px;
        }
</style>
<table>
    <tr>
        <th>
            <img src="~/images/brasao-GovernoES.png" alt="Governo do Estado do Espírito Santo" />
        </th>
        <th><h1>e-OUV - Sistema de Ouvidoria do Estado do Espírito Santo</h1></th>
    </tr>
</table>
<table>
    <tr class="titulo-1">
        <th>e-OUV - Sistema de Ouvidoria do Estado do Espírito Santo</th>
    </tr>
</table>
<table>
    <tr class="titulo-2">
        <th>DADOS GERAIS DA MANIFESTAÇÃO</th>
    </tr>
</table>

<!--Dados Básicos da Manifestação-->
<table>
    <thead>
        <tr class="titulo-3">
            <th colspan="4">Dados Básicos da Manifestação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Número de Protocolo</th>
            <th>Tipo de Manifestação</th>
            <th>Situação</th>
            <th>Órgão Atual</th>
        </tr>
        <tr>
            <td>@Model.NumProtocolo</td>
            <td>@Model.TipoManifestacao?.DescTipoManifestacao</td>
            <td>@Model.SituacaoManifestacao?.DescSituacaoManifestacao</td>
            <td>@Model.OrgaoResponsavel?.NomeFantasia</td>
        </tr>
        <tr>
            <th colspan="2">Órgão Destinatário</th>
            <th colspan="2">Assunto</th>
        </tr>
        <tr>
            <td colspan="2">@Model.OrgaoInteresse?.NomeFantasia</td>
            <td colspan="2">@Model.Assunto?.DescAssunto</td>
        </tr>
        <tr>
            <th colspan="2">Data de Cadastro</th>
            <th colspan="2">Prazo de Atendimento</th>
        </tr>
        <tr>
            <td colspan="2">@Model.DataRegistro</td>
            <td colspan="2">@Model.PrazoResposta</td>
        </tr>
        <tr>
            <th colspan="2">Registrado Por</th>
            <th>Canal de Entrada</th>
            <th>Modo de Resposta</th>
        </tr>
        <tr>
            <td colspan="2">@Model.UsuarioCadastrador?.Pessoa?.Nome</td>
            <td>@Model.CanalEntrada?.DescCanalEntrada</td>
            <td>@Model.ModoResposta?.DescModoResposta</td>
        </tr>
    </tbody>
</table>

<!--Teor da Manifestação-->
<table>
    <thead>
        <tr class="titulo-3">
            <th colspan="3">Teor da Manifestação</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="3">Município do fato</th>
        </tr>
        <tr>
            <td>@Model.Municipio?.DescMunicipio</td>
            <td class="empty"></td>
            <td class="empty"></td>
        </tr>
        <tr>
            <th colspan="3">Texto da Manifestação</th>
        </tr>
        <tr>
            <td colspan="3">@Model.TextoManifestacao</td>
        </tr>
    </tbody>
</table>

<!--Demais Dados da Manifestação-->
<table>
    <thead>
        <tr class="titulo-3">
            <th colspan="4">Dados do Manifestante</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th colspan="4">Tipo de Identificação da Manifestação</th>
        </tr>
        <tr>
            <td colspan="4">@Model.TipoIdentificacao.DescTipoIdentificacao</td>
        </tr>
        <tr>
            <th colspan="2">Nome</th>
            <th colspan="2">CPF</th>
        </tr>
        <tr>
            <td colspan="2">@Model.Pessoa?.Nome</td>
            <td colspan="2">@Model.Pessoa?.Cpf</td>
        </tr>
        <tr>
            <th>Gênero</th>
            <th>Telefone</th>
            <th colspan="2">E-mail</th>
        </tr>
        <tr>
            <td>@Model.Pessoa?.Sexo</td>
            <td>@Model.Pessoa?.Telefone</td>
            <td colspan="2">@Model.Pessoa?.Email</td>
        </tr>
        <tr>
            <th>Tipo de Manifestante</th>
            <th>CNPJ</th>
            <th colspan="2">Órgão/Empresa</th>
        </tr>
        <tr>
            <td>@Model.TipoManifestante?.DescTipoManifestante</td>
            <td>@Model.PessoaJuridica?.NumCnpj</td>
            <td colspan="2">@Model.PessoaJuridica?.OrgaoEmpresa</td>
        </tr>
        <tr>
            <th>CEP</th>
            <th colspan="2">Município</th>
            <th>UF</th>
        </tr>
        <tr>
            <td>@Model.Pessoa?.Cep</td>
            <td colspan="2">@Model.Pessoa?.Municipio.DescMunicipio</td>
            <td>@Model.Pessoa?.Municipio?.Uf?.DescUf</td>
        </tr>
        <tr>
            <th colspan="3">Logradouro</th>
            <th>Número</th>
        </tr>
        <tr>
            <td colspan="3">@Model.Pessoa?.Logradouro</td>
            <td>@Model.Pessoa?.Numero</td>
        </tr>
        <tr>
            <th colspan="2">Complemento</th>
            <th colspan="2">Bairro</th>
        </tr>
        <tr>
            <td colspan="2">@Model.Pessoa?.Complemento</td>
            <td colspan="2">@Model.Pessoa?.Bairro</td>

        </tr>
    </tbody>
</table>


<table>
    <tr class="titulo-2">
        <th>DADOS DA ANÁLISE DA MANIFESTAÇÃO</th>
    </tr>
</table>

<!--Dados de Resposta-->
<table>
    <thead>
        <tr class="titulo-3">
            <th colspan="4">Dados de Resposta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resposta in @Model.RespostaManifestacao) { 
            <tr>
                <th colspan="2">Usuário</th>
                <th colspan="1">Órgão</th>
                <th colspan="1">Data</th>
            </tr>
            <tr>
                <td colspan="2">??????????????????????????????????????????????????????????????????????? ?????????????????????? ?????????????????? ??????????? ?????</td>
                <td colspan="1">@resposta.Orgao.SiglaOrgao</td>
                <td colspan="1">@resposta.DataRespostaFormat</td>
            </tr>

            <tr>
                <th colspan="4">Resposta</th>
            </tr>
            <tr>
                <td colspan="4">@resposta.TxtResposta</td>
            </tr>        
        
            @if (@Model.AnexoManifestacao.Count > 0)
            {
                <tr >
                    <th colspan="2">Nome do Anexo</th>
                    <th colspan="2">Data do Anexo</th>
                </tr>
                
                @foreach (var anexo in @Model.AnexoManifestacao)
                {
                    <tr>
                        <td colspan="2">@anexo.NomeArquivo</td>
                        <td colspan="2">??/??/????</td>
                    </tr>
                }
            }
            
            <tr>
                <th colspan="4">
                    <hr/>
                </th>
            </tr>

        }
    </tbody>
</table>