@model Prodest.EOuv.UI.Apresentacao.ManifestacaoViewModel
@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <style>
        table {
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
            vertical-align: top;
            border-color: #dee2e6;
        }
        .titulo{

        }
    </style>
</head>
<body>
    <!--Dados Básicos da Manifestação-->
    <table>
        <thead>
            <tr class="titulo">
                <td colspan="3">Dados Básicos da Manifestação</td>                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div>
        <h2>
            Dados Básicos da Manifestação
        </h2>
        <div>
            <div class="accordion-body">
                <div class="row justify-content-start">
                    <div class="col-md-4">
                        <span class="fw-bold">Número de Protocolo</span>
                        <br />
                        <span>@Model.NumProtocolo</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Tipo de Manifestação</span>
                        <br />
                        <span>@Model.TipoManifestacao?.DescTipoManifestacao</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Situação</span>
                        <br />
                        <span>@Model.SituacaoManifestacao?.DescSituacaoManifestacao</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Órgão Atual</span>
                        <br />
                        <span>@Model.OrgaoResponsavel?.NomeFantasia</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Órgão Destinatário</span>
                        <br />
                        <span>@Model.OrgaoInteresse?.NomeFantasia</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Assunto</span>
                        <br />
                        <span>@Model.Assunto?.DescAssunto</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Data de Cadastro</span>
                        <br />
                        <span>@Model.DataRegistro</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Prazo de Atendimento</span>
                        <br />
                        <span>@Model.PrazoResposta</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Registrado Por</span>
                        <br />
                        <span>@Model.UsuarioCadastrador?.Pessoa?.Nome</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Canal de Entrada</span>
                        <br />
                        <span>@Model.CanalEntrada?.DescCanalEntrada</span>
                    </div>

                    <div class="col-md-4">
                        <span class="fw-bold">Modo de Resposta</span>
                        <br />
                        <span>@Model.ModoResposta?.DescModoResposta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Demais Dados da Manifestação-->
    <div>
        <h2>
            Demais Dados da Manifestação
        </h2>
        <div>
            <div>

                <!--Teor da Manifestação-->
                <div>
                    <h2>
                        Teor da Manifestação
                    </h2>
                    <div>
                        <div>
                            <div class="row justify-content-start">
                                <div class="col-md-12">
                                    <span class="fw-bold">Município do local do fato</span>
                                    <br />
                                    <span>@Model.Municipio?.DescMunicipio</span>
                                </div>
                                <div class="col-md-12">
                                    <span class="fw-bold">Texto da Manifestação</span>
                                    <br />
                                    <span>@Model.Municipio?.DescMunicipio</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Dados do Manifestante-->
                <div>
                    <h2>
                        Dados do Manifestante
                    </h2>
                    <div>
                        <div class="accordion-body">
                            <div class="row justify-content-start">
                                <div class="col-md-4">
                                    <span class="fw-bold">Nome</span>
                                    <br />
                                    <span>@Model.Pessoa?.Nome</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">CPF</span>
                                    <br />
                                    <span>@Model.Pessoa?.Cpf</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Gênero</span>
                                    <br />
                                    <span>@Model.Pessoa?.Sexo</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Telefone</span>
                                    <br />
                                    <span>@Model.Pessoa?.Telefone</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">E-mail</span>
                                    <br />
                                    <span>@Model.Pessoa?.Email</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Tipo de Manifestante</span>
                                    <br />
                                    <span>@Model.TipoManifestante?.DescTipoManifestante</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">CNPJ</span>
                                    <br />
                                    <span>@Model.PessoaJuridica?.NumCnpj</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Órgão/Empresa</span>
                                    <br />
                                    <span>@Model.PessoaJuridica?.OrgaoEmpresa</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">CEP</span>
                                    <br />
                                    <span>@Model.Pessoa?.Cep</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Municipio</span>
                                    <br />
                                    <span>@Model.Pessoa?.Municipio?.DescMunicipio</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">UF</span>
                                    <br />
                                    <span>@Model.Pessoa?.Municipio?.Uf?.DescUf</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Logradouro</span>
                                    <br />
                                    <span>@Model.Pessoa?.Logradouro</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Número</span>
                                    <br />
                                    <span>@Model.Pessoa?.Numero</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Complemento</span>
                                    <br />
                                    <span>@Model.Pessoa?.Complemento</span>
                                </div>
                                <div class="col-md-4">
                                    <span class="fw-bold">Bairro</span>
                                    <br />
                                    <span>@Model.Pessoa?.Bairro</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>