@model IEnumerable<Prodest.EOuv.UI.Apresentacao.DespachoManifestacaoViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Despacho</h1>
    <p>Tela de com a Lista de Despacho e opção de Criar Novo Despacho</p>
    <p>Id da Manifestação: @TempData["idManifestacao"]</p>
</div>

<p>
    <a href="/Despacho/Add/@Model">Novo Despacho</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProtocoloEdocs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSolicitacaoDespacho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrazoResposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeSetorDestinatarioEdocs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProtocoloEdocs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataSolicitacaoDespacho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrazoResposta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataRespostaDespacho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdDespachoManifestacao">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdDespachoManifestacao">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>