<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EOuv</title>

    <!-- MDB -->
    <link rel="stylesheet" href="~/dist/mdb/css/mdb.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="~/dist/mdb/css/admin.css" />
    <link rel="stylesheet" href="~/dist/fontawesome-free-5.15.3-web/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/vanillajs-datepicker/dist/css/datepicker.css" />

    <script defer src="~/dist/vue-3.2.6/vue.global.js"></script>
    <script defer src="~/scripts/common/fetchData.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/bootstrapHelper.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/mascaras.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/utils.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/vue/vueBase.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/vue/vueReusaveis.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/mensagemSistema.js" asp-append-version="true"></script>
    <script defer src="~/lib/vanillajs-datepicker/dist/js/datepicker-full.js" asp-append-version="true"></script>
    <script defer src="~/lib/vanillajs-datepicker/dist/js/locales/pt-BR.js" asp-append-version="true"></script>    

    <script defer src="/scripts/app/navbar/NavBarUsuario.js"></script>

    <!--Main layout-->
    <!-- MDB -->
    <script type="text/javascript" src="~/dist/mdb/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <!--
    ...
    -->

    @await RenderSectionAsync("Scripts", required: false)

    @await RenderSectionAsync("modules", required: false)
</head>
<body>

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions{
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    }
    <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar fixed-top navbar-expand-lg navbar-light bg-white shadow-2">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Brand -->
                <a class="navbar-brand font-weight-bold" href="/">
                    E-OUV
                </a>

                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                           id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="sidebar bg-appgov px-3" style="">
            <ul class="sidenav-menu mx-0 px-0">
                <li class="sidenav-item list-unstyled text-white">
                    Despachos
                    <ul class="sidenav-collapse px-0">
                        <li class="sidenav-item list-unstyled">
                            <a href="/despacho?id=583" title="Despachos" class="sidenav-link ripple-surface text-white"><i class="fas fa-caret-right"></i> Despachos Realizados</a>
                        </li>
                        <li class="sidenav-item list-unstyled">
                            <a href="/Despacho/novodespacho?id=583" title="Novo Despacho" class="sidenav-link ripple-surface text-white"><i class="fas fa-caret-right"></i> Novo Despacho</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Sidebar -->

    </header>
    <!--Main Navigation-->
    <!--Main layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <h5 class="mb-3"><strong>@ViewData["Title"]</strong></h5>
            @RenderBody()
        </div>
    </main>
    <!--Main layout-->
    @*Vue Templates*@
    @await Html.PartialAsync("_NavBarTemplate")
    @RenderSection("templates", false)
</body>
</html>