<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EOuv</title>

    <!-- MDB -->
    @*<link rel="stylesheet" href="~/dist/mdb/css/mdb.min.css" />*@
    <!-- Custom styles -->
    @*<link rel="stylesheet" href="~/dist/mdb/css/admin.css" />*@
    <link href="~/dist/bootstrap-5.0.0-beta3-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/dist/bootstrap-5.0.0-beta3-dist/css/bootstrap-utilities.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/dist/fontawesome-free-5.15.3-web/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/vanillajs-datepicker/dist/css/datepicker.css" />

    <script defer src="~/dist/vue-3.2.6/vue.global.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/fetchData.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/bootstrapHelper.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/mascaras.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/utils.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/vue/vueBase.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/vue/vueReusaveis.js" asp-append-version="true"></script>
    <script defer src="~/scripts/common/mensagemSistema.js" asp-append-version="true"></script>
    <script defer src="~/lib/vanillajs-datepicker/dist/js/datepicker-full.js" asp-append-version="true"></script>
    <script defer src="~/lib/vanillajs-datepicker/dist/js/locales/pt-BR.js" asp-append-version="true"></script>

    <script defer src="/scripts/app/navbar/NavBarUsuario.js"></script>

    <!--Main layout-->
    <!-- MDB -->
    <script src="~/dist/bootstrap-5.0.0-beta3-dist/js/bootstrap.js"></script>
    @*<script type="text/javascript" src="~/dist/mdb/js/mdb.min.js"></script>*@
    <!-- Custom scripts -->
    <!--
    ...
    -->

    @await RenderSectionAsync("Scripts", required: false)

    @await RenderSectionAsync("modules", required: false)
</head>
<body>

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions{
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    }
    <input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-sistemas-es diamond-effect">
            <div class="container-fluid">
                <a class="h3 text-light text-decoration-none me-4 font-weight-bolder" href="#">E-OUV</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/despacho?id=583">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        @*<div class="btn-group">
                                <button type="button" class="btn btn-outline-light border-0 dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                    <i class="fas fa-user"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-lg-end">
                                    <li><button class="dropdown-item" type="button">Perfil</button></li>
                                    <li><button class="dropdown-item" type="button">Sair</button></li>
                                </ul>
                            </div>*@
                        <img src="https://cdn.es.gov.br/images/logo/governo/brasao/right-white/Brasao_Governo_240.png" height="65" />
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!--Main Navigation-->
    <!--Main layout-->
    <main>
        <div class="container pt-5">
            <h4 class="mb-3"><strong>@ViewData["Title"]</strong></h4>
            @RenderBody()
        </div>
    </main>
    <!--Main layout-->
    @*Vue Templates*@
    @await Html.PartialAsync("_NavBarTemplate")
    @RenderSection("templates", false)

    <div class="toast-container position-fixed bottom-0 end-0 p-3"></div>

    <div class="modal fade" id="loading-default" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loading-default-label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-transparent border-0">
                <div class="modal-body">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Carregando...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>